# — общие правила —
*.iml
.DS_Store

# IDE
.idea/
.gradle/

# Android-build
**/build/
**/captures/
.cxx/
local.properties

# Хранить только под OquToqu/
/OquToqu/gradle.properties
/OquToqu/settings.gradle.kts
/OquToqu/local.properties

# Секреты Django-бэкенда
test_backend/test_backend/*.json

