# — общие правила —
*.iml
.DS_Store

# IDE
.idea/
.gradle/

# Android-build
**/build/
**/captures/
.cxx/
local.properties

# Хранить только под OquToqu/
OquToqu/local.properties
OquToqu/gradle.properties
OquToqu/settings.gradle.kts

# Секреты Django-бэкенда
test_backend/test_backend/*.json

