# — общие правила —
*.iml
.DS_Store

# IDE
.idea/
.gradle/

# Android-build
**/build/
**/captures/
.cxx/
local.properties
settings.gradle.kts
gradle.properties

# Хранить только под OquToqu/
/OquToqu/app/google-services.json
# Секреты Django-бэкенда
test_backend/test_backend/*.json
.env